<%= link_to "<<Back", items_path%>
<br>
<h2>Edit item</h2>
<%= form_tag("/items/#{@item.id}/update", :method => "post") do %>
  <%= label_tag(:q, "New name:") %>
  <%= text_field_tag(:n, @item.name) %>
  <%= label_tag(:q, "New arabic name:") %>
  <%= text_field_tag(:an, @item.arabicname) %>
  <%= label_tag(:q, "New price:") %>
  <%= text_field_tag(:p, @item.price) %>
  <p>Select type of item:</p>
  <%= collection_select(:item, :category, Category.all, :id,:name, { prompt: true }) %>
  <br>
  <%= submit_tag "Update", class: "btn btn-success btn-large"%>
<% end %>