<a href="<%=new_item_path%>" class="btn btn-primary">Add a new item</a>
<br>
<br>
<legend>Items</legend>
<table style="width:1200px;"class="table table-bordered">
  <tr>
    <td style="width:350px;"><h3>English name</h3></td>
    <td style="width:350px;"><h3>Arabic name</h3></td>
    <td style="width:350px;"><h3>Category</h3></td>
    <td style="width:160px;"><h3>Edit</h3></td>
    <td style="width:160px;"><h3>Delete</h3></td>
  </tr>
<%@items.each do |item|%>
  <tr>
    <td><strong><%= item.name%></strong></td>
    <td><strong><%= item.arabicname%></strong></td>
    <td><%= item.category.id%></td>
    <td><a href="<%=edit_item_path(item.id)%>" class="btn btn-primary">Edit</a></td>
    <td><a style="font-size : 18px;" href="#delete_modal" role="button" class="btn btn-danger" onClick="modalToggle()" id="LaunchDemo"><i class="icon-trash"></i>Delete item</a></td>
    <div id="delete_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="modal_label">Delete item</h3>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to delete that item from the database?</h4>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <%= link_to "Delete", delete_item_path(item.id), :class => "btn btn-danger"%>
      </div>
    </div>
  </tr>
<% end %>
</table>