<a href="<%=new_category_path%>" class="btn btn-primary">Add a new category</a>
<br>
<br>
<legend>Categories</legend>
<table style="width:1200px;"class="table table-bordered">
  <tr>
    <td style="width:350px;"><h3>Name</h3></td>
    <td style="width:350px;"><h3>Printer</h3></td>
    <td style="width:120px;"><h3>Edit</h3></td>
    <td style="width:120px;"><h3>Delete</h3></td>
  </tr>
<%@cats.each do |cat|%>
  <tr>
    <td><strong><%= cat.name%></strong></td>
    <td><strong><%if cat.printer == 1%>
        Barista printer
      <%else%>
        <%if cat.printer == 2%>
          Kitchen printer
        <%else%>
        Shisha printer
        <%end%>
      <%end%></strong></td>
    <td><a href="<%=edit_category_path(cat.id)%>" class="btn btn-primary">Edit</a></td>
    <td><a href="<%=delete_category_path(cat.id)%>" class="btn btn-danger">Delete</a></td>
  </tr>
<% end %>
</table>
<script type="text/javascript">
 <%= render "delete.js" %>
</script>