<h3>Data of Cheque <%= @check.name %> for table <%= @table.placement %><%= @table.number %></h3>
<% if @errors != nil %>
  <div class="validation">
    <ul>
      <% @errors.each do |error|%>
        <li><%= error[0] %>
        <% error.delete_at(0) %>
        <% error.each do |e|%>
          <%e.each do |printable|%>
            <%if printable == e.last%>
              <%=printable%>
            <%else%>
              <%=printable%>,
            <%end%>
          <% end %>
        <%end%>
        <br>
        </li>
      <%end%>
    </ul>
  </div>
<% end %>
    <%= form_for (@check),:url => create_check_path(@tid,@check.id) do |f| %>
              <div class="control-group">
                <%= f.label :number_of_customers, :class => "control-label" %>
                <div class="controls">
                  <%= f.text_field :number_of_customers %>
                </div>
              </div>
              <div class="control-group">
                <%= f.label :minimum_charge, :class => "control-label" %>
                <div class="controls">
                  <%= f.text_field :min_charge %>
                </div>
              </div>
               <div class="control-group">
                <%= f.label :tax_percentage, :class => "control-label" %>
                <div class="controls">
                  <%= f.text_field :taxrate %>
                </div>
              </div>
              <%if current_user.captain != true%>
              <p>Select Captain</p>
                <%= f.collection_select(:captain_id, User.where(admin: false), :id,:username, { prompt: true }) %>
                <%end%>
              <div class="control-group">
                <div class="controls">
                  <button class="btn btn-info btn-large" type="submit" style="margin-right: 20px"><%= "Create" %></button>
                  <a class="btn btn-large" href="/<%= @tid %>/order" style="margin-left: 20px"><%= "back" %></a>
                </div>
              </div>
            <% end %>
