<% if @ch.sum >= (@ch.min_charge * @ch.number_of_customers) %> 
  <h4>total of cheque before taxes: <%= @ch.sum %></h4>
  <h4>total of cheque after taxes: <%= @ch.sum + (@ch.sum * (@ch.taxrate + 0.00) * 0.01) %></h4>
<% else %>
	<h4>total of cheque before applying minimum charge: <%= @ch.sum %> </h4>
  <h4>total of cheque before taxes: <%= @ch.min_charge * (@ch.number_of_customers + 0.00) %></h4>
  <h4>total of cheque after taxes: <%= @ch.min_charge * (@ch.number_of_customers + 0.00) + (@ch.min_charge * (@ch.number_of_customers + 0.00) * (@ch.taxrate + 0.00) * 0.01) %></h4>
<% end %>
<%= link_to "Print Cheque", print_path(@ch.id), :target => "_blank", class: "btn btn-primary btn-large"%>
<h4>Type of payment</h4>
<table>
	<thead>
		<tr>
			<th><a class="btn btn-primary btn-large" href="<%=pay_cash_path(@ch.id)%>">Cash</a></th>
			<% @visas.each do |v| %>
				<th><a class="btn btn-primary btn-large" href="/<%= @ch.id %>/<%= v.bankname %>/pay_visa">Visa <%= v.bankname %></a></th>
			<% end %>
      <th><a class="btn btn-primary btn-large" href="<%=pay_officer_path(@ch.id)%>">Officer</a></th>
      <th><a class="btn btn-primary btn-large" href="<%=pay_staff_path(@ch.id)%>">Staff</a></th>
      <th><a class="btn btn-primary btn-large" href="<%=pay_credit_path(@ch.id)%>">Credit</a></th>
		</tr>
	</thead>
</table>
<br>
<a class="btn btn-large" href="/<%= @ch.id %>/add_data" style="margin-left: 20px"><%= "back" %></a>