<div class="well" style="font-weight: bold; text-align:center; font-size: 18px; color:#CC0000;">
  <span><%= @date %></span><span style="padding-left:200px;"><%= @shiftstr %></span>
    <% if current_user.admin == true %>
      <% if @shift == 1 %>
        <%= button_to "Close Shift",close_shift_path,class:"btn btn-danger", style:"width: 130px;" %>
      <% else %>
        <%= button_to "Close day" , close_day_path,class:"btn btn-danger", style:"width: 130px;" %>
      <% end %>
    <% end %>
</div>

<div style="padding: 15px; width: 80%;margin:0 auto;">  
  <div style="padding-left:80%;">
    <div class="well" style="font-weight: bold; text-align:center;">
      <div class="row">
          <div class="span2" ><h1 style="font-size:16px; padding-left:15px;">A </h1></div>
          <% @tablesA.each do |table| %>
            <div class="span2" style="width: 50px; padding-left: 15px;">
              <% if table.isEmpty == true %>
                <a href="/<%= table.id %>/order" style="text-decoration:none;"><div class="greenCircle"> <%= table.number %></div></a>
              <% else %>
                <a href="<%= order_path(table.id)%>" style="text-decoration:none;"><div class="redCircle"> <%= table.number %></div></a>
              <% end %>
              <br>
              <br>
            </div>
          <% end %>
          <% if @tablesA.blank?%>
            <% newTable = 1 %>
            <% deleteTable = 0 %>
          <% else %>
            <% newTable = @tablesA.last.number + 1 %>
            <% deleteTable = @tablesA.last.number %>
          <% end %>
          <% if current_user.admin == true %>
            <div class="span2"><div class="span1"><%= button_to "Add Table" , add_table_path(newTable, "A") ,class:"btn btn-primary", style:"width: 130px;" %></div><div class="span1"><%= button_to "Remove Table" , remove_table_path(deleteTable, "A") ,class:"btn btn-danger" , style:"width: 130px;" %></div></div> 
          <% end %> 
      </div>
    </end>
  </div>
  </div>

  <div>
    <div class="well" style="font-weight: bold; text-align:center;">
      <div class="row">
          <div class="span12">
            <h1 style="font-size:16px">B</h1>
          </div>
          <div style="padding-left: 10%;">
          <% @tablesB.each do |table| %>
            <div class="span2" style="padding-left: 10px;">
              <% if table.isEmpty == true %>
                <a href="/<%= table.id %>/order" style="text-decoration:none;"><div class="greenCircle"> <%= table.number %></div></a>
              <% else %>
                <a href="<%=order_path(table.id)%>" style="text-decoration:none;"><div class="redCircle"> <%= table.number %></div></a>
              <% end %>
              <br>
              <br>
            </div>
          <% end %>
          </div>
          <% if @tablesB.blank?%>
            <% newTable = 1 %>
            <% deleteTable = 0 %>
          <% else %>
            <% newTable = @tablesB.last.number + 1 %>
            <% deleteTable = @tablesB.last.number %>
          <% end %>
          <% if current_user.admin == true %>
            <div class="span6" style="padding-left:32%; "><div class="span2"><%= button_to "Add Table" , add_table_path(newTable, "B") ,class:"btn btn-primary", style:"width: 130px;" %></div><div class="span2"><%= button_to "Remove Table" , remove_table_path(deleteTable, "B") ,class:"btn btn-danger", style:"width: 130px;" %></div>
          
         </div>
         <% end %>
        </div>
       </end>
    </div>
  </div>

  <div>
    <div class="well" style="font-weight: bold; text-align:center;">
      <div class="row">
          <div class="span12">
            <h1 style="font-size:16px">C</h1>
          </div>
          <div style="padding-left: 10%;">
          <% @tablesC.each do |table| %>
            <div class="span2" style="padding-left: 10px;">
              <% if table.isEmpty == true %>
                <a href="/<%= table.id %>/order" style="text-decoration:none;"><div class="greenCircle"> <%= table.number %></div></a>
              <% else %>
                <a href="<%=order_path(table.id)%>" style="text-decoration:none;"><div class="redCircle"> <%= table.number %></div></a>
              <% end %>
              <br>
              <br>
            </div>
          <% end %>
          </div>
          <% if @tablesC.blank?%>
            <% newTable = 1 %>
            <% deleteTable = 0 %>
          <% else %>
            <% newTable = @tablesC.last.number + 1 %>
            <% deleteTable = @tablesC.last.number %>
          <% end %>
          <% if current_user.admin == true %>
            <div class="span6" style="padding-left:32%; "><div class="span2"><%= button_to "Add Table" , add_table_path(newTable, "C") ,class:"btn btn-primary", style:"width: 130px;" %></div><div class="span2"><%= button_to "Remove Table" , remove_table_path(deleteTable, "C") ,class:"btn btn-danger", style:"width: 130px;" %></div>
          
         </div>
         <% end %> 
        </div>
       </end>
    </div>
  </div>

  <div>
    <div class="well" style="font-weight: bold; text-align:center;">
      <div class="row">
          <div class="span12">
            <h1 style="font-size:16px">G</h1>
          </div>
          <div style="padding-left: 16%">
          <% @tablesD.each do |table| %>
            <div class="span3" style="padding-left: 10px; width: 150px;">
              <% if table.isEmpty == true %>
                <a href="<%=order_path(table.id)%>" style="text-decoration:none;"><div class="greenCircle"> <%= table.number %></div></a>
              <% else %>
                <a href="<%=order_path(table.id)%>" style="text-decoration:none;"><div class="redCircle"> <%= table.number %></div></a>
              <% end %>
              <br>
              <br>
            </div>
          <% end %>
          </div>
          <% if @tablesD.blank?%>
            <% newTable = 1 %>
            <% deleteTable = 0 %>
          <% else %>
            <% newTable = @tablesD.last.number + 1 %>
            <% deleteTable = @tablesD.last.number %>
          <% end %>
          <% if current_user.admin == true %>
            <div class="span6" style="padding-left:32%; "><div class="span2"><%= button_to "Add Table" , add_table_path(newTable, "D") ,class:"btn btn-primary", style:"width: 130px;" %></div><div class="span2"><%= button_to "Remove Table" , remove_table_path(deleteTable, "D") ,class:"btn btn-danger", style:"width: 130px;" %></div>
          
         </div>
         <% end %> 
        </div>
       </end>
    </div>
  </div>

    <div class="well" style="font-weight: bold; text-align:center;">
      <div class="row">
          <div class="span12">
            <h1 style="font-size:16px; padding-bottom:30px;">Special</h1></div>
          <br>
          <% @tablesE.each do |table| %>
            <div class="span2">
              <% if table.isEmpty == true %>
                <a href="<%=order_path(table.id)%>" style="text-decoration:none;"><div class="greenCircle"> <%= table.number %></div></a>
              <% else %>
                <a href="<%=order_path(table.id)%>" style="text-decoration:none;"><div class="redCircle"> <%= table.number %></div></a>
              <% end %>
              <br>
              <br>
            </div>
          <% end %>
      </div>
    </end>
  </div>
</div>


