<%= form_for (@order),:url => transfer_item_path(@item.id) do |f| %>

	<p>Choose cheque to move item <%=@item.name%> to</p>
    <%= f.collection_select(:check_id, Check.where(current: true), :id, :name, { prompt: true }) %>
  <div class="control-group">
    <div class="controls">
        <button class="btn btn-info btn-large" type="submit" style="margin-right: 20px"><%= "Move" %></button>
        <a class="btn btn-large" href="/<%= @tid %>/order" style="margin-left: 20px"><%= "back" %></a>
    </div>
  </div>
<% end %>