<% if @cheque != [] %>
<p>Move table:</p>
<%= form_tag("/tables/#{@tid}/move", :method => "post") do %>  
  <%= collection_select(:new_table,:table_id, Table.all, :id, :full_name, { prompt: true }) %>
  <br>
  <%= submit_tag "Move", class: "btn btn-success btn-large"%>
<% end %>

<h1>Table <%= Table.find(@tid).placement %> <%= Table.find(@tid).number %></h1>
  <br>
  <div class="tabbable tabs-top">
    <ul class="nav nav-tabs">
      <% @cheque.each do |ch| %>
        <% if ch.name == "" %>
          <li><a href="#<%= ch.id %>" data-toggle="tab">Cheque <%= ch.id %></a></li>
        <% else %>
          <li><a href="#<%= ch.id %>" data-toggle="tab">Cheque <%= ch.name %></a></li>
        <% end %>
      <% end %>
    </ul>
    <div class="tab-content">
      <% @cheque.each do |ch| %>
        <div class="tab-pane well" id="<%= ch.id %>">
          <table class="table table-condensed">
            <thead>
              <tr>
                <% if ch.captain_id != nil %>
                  <th><h2>Captain <%= User.find(ch.captain_id).firstname %> <%= User.find(ch.captain_id).lastname %></h2></th>
                <% end %>
              </tr>
            </thead>
          </table>        
          <% @orders = Order.where(check_id: ch.id).all %>
          <% @orders.each do |order| %>
            <% @counter = @counter + 1 %>
            <h2>Order <%= @counter %> <h4><%= order.created_at %></h4></h2>
        
            <h2>Items</h2>
            <% @items = []
            @tempItems = Itemorder.where(order_id: order.id)
            @tempItems.each do |temp|
              item_id_temp = temp.item_id
              @items << Item.find(item_id_temp)
            end %>
            <table class="table table-condensed  table-bordered">
              <thead>
                <tr>
                  <th>name</th>
                  <th>arabic name</th>
                  <th>price</th>
                  <th>quantity</th>
                  <% if current_user.admin? %>
                    <th>delete 1 item</th>
                    <th>move 1 item</th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @items.each do |item| %>
                  <div id="myModalDelete<%= item.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h3 id="myModalLabel">Item decrement</h3>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to decrease item quantity by 1?</p>
                      <div class="prize-view"></div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn" data-dismiss="modal" aria-hidden="true">No, go back</button>
                      <a class="btn btn-danger" href="/<%=ch.id%>/<%=order.id%>/<%=item.id%>/decrement_quantity">delete</a>
                    </div>
                  </div>
                  <tr>
                    <th><%= item.name %></th>
                    <th><%= item.arabicname %></th>
                    <% if item.offer.blank? %>
                      <th><%= item.price %></th>
                    <% else %>
                      <th><%= item.offer %></th>
                    <% end %>
                    <th><%=Itemorder.where(order_id: order.id, item_id: item.id).first.quantity%></th>
                    <% if current_user.admin? %>
                      <th><a class="btn btn-mini btn-danger" href="#myModalDelete<%= item.id %>" role="button" class="remove-one-item" data-toggle="modal"><i class="icon-trash"></i></a></th>
                      <th><a class="btn btn-mini btn-warning" href="/<%=ch.id%>/<%=order.id%>/<%=item.id%>/move_item"><i class="icon-cog"></i></a></th>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <h5>Order <%= @counter %> total: <%= order.total %></h5><br>
          <% end %>
          <br>
            <h4>total of cheque before taxes: <%= ch.sum %></h4>
            <h4>total of cheque after taxes: <%= ch.sum + (ch.sum * (ch.taxrate + 0.00) * 0.01) %></h4>
          <div style="text-align:center;">
            <a class="btn btn-large btn-primary" href="/2/<%= @tid %>/new_order">Add Order</a>
            <a class="btn btn-large btn-primary" href="/<%= ch.id %>/add_data">Close Cheque</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <br><br><br>
  <div style="text-align:center;">
    <a class="btn btn-large btn-primary" href="/1/<%= @tid %>/new_order">Add cheque</a>
    <a class="btn btn-large" href="/tables">back</a>
  </div>
<% else %>
<br><br><br>
	<div style="text-align:center;">
		<a class="btn btn-large btn-primary" href="/1/<%= @tid %>/new_order">New Cheque</a>
    <a class="btn btn-large" href="/tables">back</a>
	</div>
<% end %>
