<%= stylesheet_link_tag 'application' %>
<div class="print">
  <img src="../assets/toro.jpg" style="margin-left:80px;">
  <br><br>
  <h1 style="margin-left:60px;">Welcome to Toro</h1>
  <table style="width:400px; font-size:18px;"><tr><td>رقم الشيك: <%=@ch.id%></td><td>طاولة: <%=@p%><%=@n%></td></tr><tr><td>الوقت: <%=Time.now%></td><td>المستخدم: <%=current_user.username%></td></tr>
  </table>
  <br><br>
  <table style="width:400px; font-size:18px;">
    <tr style="height:30;">
      <td style="border: solid 3px black;">المبلغ</td><td style="border: solid 3px black;">الصنف</td><td style="border: solid 3px black;">الكمية</td><td style="border: solid 3px black;">السعر</td>
    </tr>
    <%counter = 0
    @items.each do |item|%>
    <tr style="height:30;">
      <td style="border: solid 3px black;"><%=BigDecimal(@totalPrices[counter]).round(2)%></td><td style="border: solid 3px black;"><%=item%></td><td style="border: solid 3px black;"><%=@quantities[counter]%></td><td style="border: solid 3px black;"><%=BigDecimal(@prices[counter]).round(2)%></td>
    </tr>
    <%counter = counter+1%>
    <%end%>
    <% if @sumCheque < @sumMinimum %>
   <tr style="height:30;">
      <td style="border: solid 3px black;"><%=BigDecimal(@diff).round(2)%></td><td style="border: solid 3px black;">الحد الأدنى</td><td style="border: solid 3px black;"></td><td style="border: solid 3px black;"></td>
    </tr>
    <% end %>
    <tr style="height:30;">
    <td style="border: solid 3px black;"><%=BigDecimal(@toBePaid).round(2)%></td><td style="border: solid 3px black;">الإجمالي</td><td style="border: solid 3px black;"></td><td style="border: solid 3px black;"></td>
    </tr>
    <tr style="height:30;">
    <td style="border: solid 3px black;"><%=@taxes.to_f.round(2)%></td><td style="border: solid 3px black;">خدمة</td><td style="border: solid 3px black;"></td><td style="border: solid 3px black;"></td>
    </tr>
    <tr style="height:30;">
    <td style="border: solid 3px black;"><%=(@taxes.to_f+ @toBePaid).round(2)%></td><td style="border: solid 3px black;">إجمالي الطلب</td><td style="border: solid 3px black;"></td><td style="border: solid 3px black;"></td>
    </tr>
  </table>
  <br><br>
  <h1 style="margin-left:15px;">We are happy to serve you</h1>
  <br><br><br>
</div>
