<%= stylesheet_link_tag 'application' %>
<div class="print">
  <h3>Welcome to Toro</h3>
  <table style="width:300px;"><tr><td>رقم الشيك: <%=@ch.id%></td><td>طاولة: <%=@p%><%=@n%></td></tr><tr><td>الوقت: <%=Time.now%></td><td>المستخدم: <%=current_user.username%></td></tr>
  </table>
  <table class="table table-bordered table-condensed" style="width:600px;">
    <tr>
      <td>المبلغ</td><td>الصنف</td><td>الكمية</td><td>السعر</td>
    </tr>
    <%counter = 0
    @items.each do |item|%>
    <tr>
      <td><%=BigDecimal(@totalPrices[counter]).round(2)%></td><td><%=item%></td><td><%=@quantities[counter]%></td><td><%=BigDecimal(@prices[counter]).round(2)%></td>
    </tr>
    <%counter = counter+1%>
    <%end%>
    <tr>
    <td><%=BigDecimal(@toBePaid).round(2)%></td><td>الإجمالي</td><td></td><td></td>
    </tr>
    <tr>
    <td><%=@taxes.to_f.round(2)%></td><td>خدمة</td><td></td><td></td>
    </tr>
    <tr>
    <td><%=(@taxes.to_f+ @toBePaid).round(2)%></td><td>إجمالي الطلب</td><td></td><td></td>
    </tr>
  </table>
  <h3>Thank you very much</h3>
</div>
