<a href="<%=new_bank_path%>" class="btn btn-primary">Add a new bank</a>
<br>
<br>
<legend>Banks</legend>
<table style="width:1200px;"class="table table-bordered">
  <tr>
    <td style="width:350px;"><h3>Name</h3></td>
    <td style="width:120px;"><h3>Edit</h3></td>
    <td style="width:120px;"><h3>Delete</h3></td>
  </tr>
<%@banks.each do |bank|%>
  <tr>
    <td><strong><%= bank.bankname%></strong></td>
    <td><a href="<%=edit_bank_path(bank.id)%>" class="btn btn-primary">Edit</a></td>
    <td><a href="<%=delete_bank_path(bank.id)%>" class="btn btn-danger">Delete</a></td>
  </tr>
<% end %>
</table>
<script type="text/javascript">
 <%= render "delete.js" %>
</script>