<a class="btn btn-primary pull-right" href="/deleted_items">View deleted items</a>
<h5>Filer by Date:</h5>
<%= form_tag("/filter", :method => "post",:remote => :true) do %>
  <%= collection_select(:summary, :date, Torodate.order('id DESC').all, :id,:date, { prompt: "From"}) %>
  <%= collection_select(:summary, :date2, Torodate.order('id DESC').all, :id,:date, { prompt: "To"}) %>
  <%= select_tag "shift", options_for_select([['Morning' ,'1'], ['Evening', '2']]), :prompt => "Optional" %></span>
<br>
  <%= submit_tag "Filter", class: "btn btn-success"%>
<% end %>
<span>
  <% if !@date.empty? && !@date2.empty?%>
      <%= link_to "printable version", summary_print_path(@date, @date2), :target => "_blank", class: "btn btn-primary"%>
      <br><br>
        <% end %></span>
<table class="table table-bordered" style="background-color:white;">
  <tr>
    <th>#</th>
    <th>Date</th>
    <th>Shift</th>
    <th>Time</th>
    <th>Payement Method</th>
    <th>Kitchen</th>
    <th>Bar</th>
    <th>Shisha</th>
    <th>Before Taxes</th>
    <th>Taxes</th>
    <th>After Taxes</th>
  </tr>
  <% total1 = 0 %>
  <% total2 = 0 %>
  <% total3 = 0 %>
  <% totalkitchen = 0 %>
  <% totalbar = 0 %>
  <% totalshisha = 0 %>
  <% @check.each do |check| %>
    <% before = check.sum.round(2) %>
    <% after = (check.sum + (check.sum * check.taxrate + 0.00) * 0.01 ).round(2)%>
    <% tax = (after - before).round(2) %>
    <% total1 += before %>
    <% total2 += tax %>
    <% total3 += after %>
    <% totalkitchen += check.kitchen_profit %>
    <% totalbar += check.bar_profit %>
    <% totalshisha += check.shisha_profit %>
    <% date1 = check.date.strftime("%d-%m-%Y") %>
    <tr>
      <td><%= check.id %></td>
      <td><%= date1 %></td>
      <td><%= check.shift %></td>
      <td><%= check.created_at %></td>
      <% if check.payment_method == nil %>
        <td style="font-weight:bold; color:red;">open</td>
      <% else %>
        <td><%= check.payment_method %></td>
      <% end %>
      <td><%= check.kitchen_profit.round(2) %></td>
      <td><%= check.bar_profit.round(2) %></td>
      <td><%= check.shisha_profit.round(2) %></td>
      <td><%= before.round(2) %></td>
      <td><%= tax.round(2) %></td>
      <td><%= after.round(2) %></td>
    </tr>
  <% end %>
  <tr>
    <td style="font-weight:bold;">
      Total:</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td style="font-weight:bold;"><%= totalkitchen.round(2) %></td>
    <td style="font-weight:bold;"><%= totalbar.round(2) %></td>
    <td style="font-weight:bold;"><%= totalshisha.round(2) %></td>
    <td style="font-weight:bold;"><%= total1.round(2) %></td>
    <td style="font-weight:bold;"><%= total2.round(2) %></td>
    <td style="font-weight:bold;"><%= total3.round(2) %></td>
  </tr>
</table>
