<h5>Filer by Date:</h5>
<%= form_tag("/filter", :method => "post") do %>
  <%= collection_select(:summary, :date, Torodate.order('id DESC').all, :id,:date, { prompt: true}) %>
  <%= collection_select(:summary, :date2, Torodate.order('id DESC').all, :id,:date, { prompt: true}) %>
  <%= select_tag "shift", options_for_select([['Morning' ,'1'], ['Evening', '2']]), :prompt => "Optional" %></span>
  <br>
  <%= submit_tag "Filter", class: "btn btn-success"%>
<% end %>

<%= link_to "printable version", summary_print_path(@date, @date2, @shift) %>



<table class="table table-bordered" style="background-color:white;">
<tr>
  <th>#</th>
  <th>Date</th>
  <th>Shift</th>
  <th>Time</th>
  <th>Payement Method</th>
  <th>Kitchen</th>
  <th>Bar</th>
  <th>Shisha</th>
  <th>Before Taxes</th>
  <th>Taxes</th>
  <th>After Taxes</th>
</tr>
<% total1 = 0 %>
<% total2 = 0 %>
<% total3 = 0 %>
<% @check.each do |check| %>
  <% before = check.sum.round(2) %>
  <% after = (check.sum + (check.sum * check.taxrate + 0.00) * 0.01 ).round(2)%>
  <% tax = (after - before).round(2) %>
  <% total1 += before %>
  <% total2 += tax %>
  <% total3 += after %>
  <% date1 = check.date.strftime("%d-%m-%Y") %>
    <tr>
      <td><%= check.id %></td>
      <td><%= date1 %></td>
      <td><%= check.shift %></td>
      <td><%= check.created_at %></td>   
      <td><%= check.payment_method %></td>
      <td><%= check.kitchen_profit %></td>
      <td><%= check.bar_profit %></td>
      <td><%= check.shisha_profit %></td>
      <td><%= before %></td>
      <td><%= tax %></td>
      <td><%= after %></td>
    </tr>
  <% end %> 
    <tr>
      <td style="font-weight:bold;"> Total:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td style="font-weight:bold;"><%= total1.round(2) %></td>
      <td style="font-weight:bold;"><%= total2.round(2) %></td>
      <td style="font-weight:bold;"><%= total3.round(2) %></td>
    </tr>
</table>
