<%= form_tag("/filter", :method => "post") do %>
  <%= collection_select(:summary, :date, Torodate.all, :id,:date, { prompt: true}) %>
  <%= select_tag "shift", options_for_select([['Morning' ,'1'], ['Evening', '2']]), :prompt => "Optional" %>
  <br>
  <%= submit_tag "Filter", class: "btn btn-success btn-large"%>
<% end %>
<table class="table table-bordered" style="background-color:white;">
<tr>
  <th>#</th>
  <th>Date</th>
  <th>Shift</th>
  <th>Time</th>
  <th>Employee</th>
  <th>Cheque Price</th>
</tr>
<% @check.each do |check| %>
    <tr>
      <td><%= check.id %></td>
      <td><%= check.date %></td>
      <td><%= check.shift %></td>
      <td><%= check.datetime %></td>
      <td><%= User.find(check.captain_id).username %></td>
      <td><%= check.sum %></td>
    </tr>
  <% end %> 
</table>