<a href="<%=new_user_path%>" class="btn btn-primary">Add a new user</a>
<br>
<br>
<legend>Cashiers, captains and waiters</legend>
<table style="width:1200px;"class="table table-bordered">
  <tr>
    <td style="width:350px;"><h3>Full name</h3></td>
    <td style="width:350px;"><h3>User name</h3></td>
    <td style="width:160px;"><h3>Edit</h3></td>
    <td style="width:160px;"><h3>Delete</h3></td>
  </tr>
<%@users.each do |captain|%>
<%if captain.id != current_user.id && captain.admin == false%>
  <tr>
    <td><strong><%= captain.firstname%>&nbsp;<%= captain.lastname%></strong></td>
    <td><strong><%= captain.username%></strong></td>
    <td><a href="<%=edit_user_path(captain.id)%>" class="btn btn-primary">Edit</a></td>
    <td><a href="<%=delete_user_path(captain.id)%>" class="btn btn-danger">Delete</a></td>
  </tr>
  <%end%>
<% end %>
</table>
<legend>Managers</legend>
<table style="width:1200px;"class="table table-bordered">
  <tr>
    <td style="width:450px;"><h3>Full name</h3></td>
    <td style="width:450px;"><h3>User name</h3></td>
    <td style="width:160px;"><h3>Delete</h3></td>
  </tr>
<%@users.each do |captain|%>
<%if captain.id != current_user.id && captain.admin == true%>
  <tr>
    <td><strong><%= captain.firstname%>&nbsp;<%= captain.lastname%></strong></td>
    <td><strong><%= captain.username%></strong></td>
    <td><a href="<%=edit_user_path(captain.id)%>" class="btn btn-primary">Edit</a></td>
    <td><a href="<%=delete_user_path(captain.id)%>" class="btn btn-danger">Delete</a></td>
  </tr>
  <%end%>
<% end %>
</table>
<script type="text/javascript">
 <%= render "delete.js" %>
</script>