<%= link_to "<<Back", users_path%>
<br>
<% if @errors != nil %>
<div class="validation">
  <ul>
  <% @errors.each do |error|%>
    <li><%= error[0] %>
    <% error.delete_at(0) %>
    <% error.each do |e|%>
      <%e.each do |printable|%>
        <%if printable == e.last%>
          <%=printable%>
        <%else%>
          <%=printable%>,
        <%end%>
      <% end %>
    <%end%>
    <br>
    </li>
  <%end%>
  </ul>
</div>
<% end %>
<%= form_for(@user, :url => create_user_path, :html => {:class => "form-signin"}) do |f| %>

  <%= f.hidden_field :email, :value => "{Time.now.to_i}#{rand(99)}@example.com" %>  

  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :firstname %><br />
  <%= f.text_field :firstname %></div>

  <div><%= f.label :lastname %><br />
  <%= f.text_field :lastname %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <p>Select type of user:</p>
  <%= radio_button_tag(:type, 1) %>
  <%= label_tag(:admin, "Admin") %>
  <%= radio_button_tag(:type, 2) %>
  <%= label_tag(:accountant, "Accountant") %>
  <%= radio_button_tag(:type, 3) %>
  <%= label_tag(:manager, "Manager") %>
  <%= radio_button_tag(:type, 4) %>
  <%= label_tag(:cashier, "Cashier") %>
  <%= radio_button_tag(:type, 5) %>
  <%= label_tag(:captain, "Captain") %>

  <div><%= f.submit "Add user", class: "btn btn-success btn-large" %></div>
<% end %>