<!DOCTYPE html>
<html>
<head>
  <title>Toro</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% current_uri = request.env['PATH_INFO'] %>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="#">Toro</a>
    <ul class="nav pull-right">
      <% if current_uri != "/" %>
        <li><a href="<%=root_path%>">log out</a></li>
      <% end %>
    </ul>
  </div>  
</div>


<%= render "layouts/messages" %>

<%= yield %>

</body>
</html>
